astroid
beautifulsoup4>=4.9.1
bibtexparser>=1.2.0
certifi>=2020.6.20
chardet>=3.0.4
colorama>=0.4.3
crossref-commons>=0.0.7
future>=0.18.2
HTMLParser>=0.0.2
idna>=2.10,<3
isort>=5.4.2
lazy-object-proxy>=1.4.3
mccabe>=0.6.1
numpy
pandas
proxy.py>=2.0.0
pylint>=2.6.0
pyparsing>=2.4.7
python-dateutil>=2.8.1
pytz>=2020.1
ratelimit>=2.2.1
requests>=2.24.0
six>=1.15.0
soupsieve>=2.0.1
toml>=0.10.1
urllib3>=1.25.10
wrapt>=1.12.1
